/*  your css code here. If applicable */
.main {
  display: flex;
  justify-content: center;  
  align-items: center;     
  height: 100vh;           
  gap:5%;
  background-color: violet;
}
.btn ,.stop{
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn {
  background-color: white;
}

.stop {
  background-color: red;
  color: white;
}

